; {{ ansible_managed }}

{% if wg.value.interface is defined %}
[Interface]
{% for key, value in wg.value.interface.items() %}
{{ key }} = {{ value | to_json }}
{% endfor %}
{% endif %}

{% if wg.value.peers is defined %}
{% for peer in wg.value.peers %}
[Peer]
{% for key, value in peer.items() %}
{{ key }} = {{ value | to_json }}
{% endfor %}

{% endfor %}
{% endif %}
