# {{ ansible_managed }}

[NetDev]
Name=wg{{ wg.key | int }}
Kind=wireguard
Description=Wireguard

{% if wg.value.interface is defined %}
[WireGuard]
{% for key, value in wg.value.interface.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}

{% if wg.value.peers is defined %}
{% for peer in wg.value.peers %}
[WireGuardPeer]
{% for key, value in peer.items() %}
{{ key }}={{ value }}
{% endfor %}

{% endfor %}
{% endif %}
