# {{ ansible_managed }}
[Unit]
Description=wgsyncer
After=network.target

[Service]
ExecStart=/usr/local/bin/wgsyncer
WorkingDirectory=/etc
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
